@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Merienda+One|Caveat');

// Global Variables
$bg-color: #3d3d3d;
$white: #ededed;
$border-color: #6fbfe8;
$accent-orange: #d6751b;

body {
  font-family: 'Lato', sans-serif;
  color: #3d3d3d;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  &.modal-open {
    overflow-y: hidden;
  }

  // .btn {
  //   background: #b91f5f;
  //   border-color: #b91f5f;

  //   &:hover,
  //   &:focus,
  //   &:active {
  //     background: #ce5487;
  //     border-color: #ce5487;
  //     box-shadow: none;
  //   }
  // }

  .btn-navigate {
    margin-top: 40px;
    color:white;
  }
}

a {
  text-decoration: none;
  color: #fff;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

p > a:hover {
  color: #d9d9d9;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1% 0 1% 0;
}
